body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    max-width: 700px;
    width: 100%;
    background-color: black;
}

.head{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid green;
    background-color: rgb(47, 105, 47);
}
.body{
    position: absolute;
    width: 2px;
    height: 180px;
    border: 2px solid green;
    left: 345px;
    top: 275px;
}
.left-arm{
    width: 2px;
    height: 40px;
    border: 2px solid green;
    transform: rotate(-45deg);
}
.right-arm{
    width: 2px;
    height: 40px;
    border: 2px solid green;
    transform: rotate(45deg) translateX(40px) translateY(-80px);
   
    
}
.left-leg{
    width: 2px;
    height: 40px;
    border: 2px solid green;
    transform: rotate(225deg) translateX(-80px) translateY(-80px);
}
.right-leg{
    width: 2px;
    height: 40px;
    border: 2px solid green;
    transform: rotate(-225deg) translateX(-30px) translateY(-120px);
}
.rope{
    width: 2px;
    height: 40px;
    border: 2px solid green;
    transform: rotate(0deg) translateX(40px) translateY(-300px);
}
.gallows{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 150px;
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
}
.words{
    background-color: yellow;
}
.letters{
    background-color: purple;
}
.left-eye{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    top: 210px;
    left: 315px;
    border-radius: 50%;
}
.right-eye{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    top: 210px;
    left: 345px;
    border-radius: 50%;
}
.mouth{
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: rgb(2, 28, 2);
    top: 250px;
    left: 335px;
    border-radius: 60%;
}
